MONGODB_URI=mongodb+srv://brenoomega_db_user:PYfwP17UFIOKqN9q@cluster0.zcotsts.mongodb.net/
MONGODB_DB_NAME=dogs
JWT_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
CORS_ORIGINS=http://localhost:4200,https://estoque-fed.vercel.app
PUBLIC_API_URL=http://localhost:3000
GOOGLE_CLIENT_IDS=322325404513-tphqdbq9sro4g6uk56v1blpndcs8cfb4.apps.googleusercontent.com